table {
     width: 100%;
}

.table-header {
     background-color: #417b81d0;
     color: white;
     font-size: 1.3rem;
}

.table-row {
     transition: background-color 0.1s ease, transform 0.1s ease,
          box-shadow 0.1s ease;
     font-size: 1rem;
     height: 1.75rem;
     text-transform: capitalize;
     gap: 1.5rem;
}

.table-row.today {
     color: #020202;
     background-color: #ff6767e3;
     text-transform: uppercase;
     height: 2rem;
     font-weight: bold;
}

.table-row.tomorrow {
     color: #020202;
     background-color: #978dede3;
}

.table-rows tr:nth-child(even):hover,
.table-rows tr:nth-child(odd):hover {
     font-weight: bold;
     color: black;
     transform: translateY(-3px); /* Slightly lift the row */
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Add shadow for 3D effect */
     text-transform: uppercase;
}
