.modal {
     background-color: black;
     color: white;
     padding: 20px;
     border-radius: 8px;
}

.modal-header {
     background-color: #444444;
     color: white;
     padding: 10px;
     border-bottom: 1px solid #555555;
}

.modal-body {
     background-color: #333333;
     color: white;
     padding: 20px;
}

.modal-footer {
     background-color: #444444;
     color: white;
     padding: 10px;
     border-top: 1px solid #555555;
}

.button {
     background-color: #555555;
     color: white;
     padding: 10px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}

.button:hover {
     background-color: #666666;
}
